<div class="results-container">
    <h1 class="heading">Keresett <span> találatok</span></h1>
        <div style="text-align: center;" *ngIf="results.length === 0">
            <h1>Sajnos nincs találat!</h1>
        </div>
      <div class="box-container" *ngIf="results.length > 0">
        
        @for (product of results; track $index) {
            <div class="product-card">
                <mat-card>
                    <div class="product-image">
                    <img mat-card-image [src]="product.pic" alt="{{product.name}}">
                    </div>
                    <div class="card-header">
                    <mat-card-header>
                        <mat-card-title>{{product.name}}</mat-card-title>
                        <!-- <mat-card-subtitle>{{ProductObject[$index].category}}</mat-card-subtitle> -->
                      </mat-card-header>
                    </div>
                    <div class="overlay">
                        <mat-card-content>
                            <p>{{product.description}}</p>
                            <p><strong>Ár:</strong> {{product.price | currencyPipe}}</p>
                          </mat-card-content>
                          <!-- <mat-card-actions>
                            <button mat-flat-button (click)="addToCart(product)">Kosárba</button>
                          </mat-card-actions> -->
                    </div>
                </mat-card>
              </div>
        }
    </div>
</div>