<div class="product-page-container">
<h1>Az oldalon található öszes termék   </h1>
<div class="filter-container">
  <label for="maxPrice">Maximális ár (Ft):</label>
  <input matInput placeholder="Ide írd a maximális árat"
    type="number"
    id="maxPrice"
    min="0"
    [(ngModel)]="maxPrice">

  <button mat-flat-button (click)="getFilteredProductsByPrice()">Szűrés</button>  

</div>
<div class="products-container">
  @for (product of filteredProducts; track $index) {
      <div class="product-card">
          <mat-card>
              <div class="product-image">
              <img mat-card-image [src]="product.pic" alt="{{product.name}}">
              </div>
              <div class="card-header">
              <mat-card-header>
                  <mat-card-title>{{product.name}}</mat-card-title>
                  
                </mat-card-header>
              </div>
              <div class="overlay">
                  <mat-card-content>
                      <p>{{product.description}}</p>
                      <p><strong>Ár:</strong> {{product.price}} Ft</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-flat-button (click)="addToCart(product)">Kosárba</button>
                    </mat-card-actions>
              </div>
          </mat-card>
        </div>
  }
  </div>
</div>