<div class="home-page-container">
    <h1>Néhány termékünk</h1>
    <div class="products-container">
        @for (product of products; track $index) {
            <div class="product-card">
                <mat-card>
                    <div class="product-image">
                    <img mat-card-image [src]="product.pic" alt="{{product.name}}">
                    </div>
                    <div class="card-header">
                    <mat-card-header>
                        <mat-card-title>{{product.name}}</mat-card-title>
                        <!-- <mat-card-subtitle>{{ProductObject[$index].category}}</mat-card-subtitle> -->
                      </mat-card-header>
                    </div>
                    <div class="overlay">
                        <mat-card-content>
                            <p>{{product.description}}</p>
                            <p><strong>Ár:</strong> {{product.price | currencyPipe}}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-flat-button>Kosárba</button>
                          </mat-card-actions>
                    </div>
                </mat-card>
              </div>
        }
        </div>
    <h1>Néhány eseményünk</h1>
    <div class="events-container">
        @for (event of events; track $index) {
            <div class="event-card">
                <mat-card>
                    <div class="event-image">
                    <img mat-card-image [src]="event.pic" alt="{{event.name}}">
                    </div>
                    <mat-card-header>
                        <mat-card-title>{{event.name}}</mat-card-title>
                      </mat-card-header>
                        <mat-card-content>
                            <p>{{event.description}}</p>
                            <p><strong>Helyszín:</strong> {{event.location}}</p>
                            <p><strong>Kezdés:</strong> {{event.startDate | date:'yyyy-MM-dd'}}</p>
                            <p><strong>Vége:</strong> {{event.endDate | date:'yyyy-MM-dd'}}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <!-- <button mat-flat-button
                            [ngClass]="{ 'disabled-button': hasStarted(event.startDate) }" 
                            [disabled]="hasStarted(event.startDate)">Érdekel</button> -->
                          </mat-card-actions>
                </mat-card>
            </div>
        }

</div>